package ${table.packageName}.controller;

import ${table.packageName}.entity.${table.className}Entity;
import ${table.packageName}.service.I${table.className}Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import java.util.List;
import com.example.springboot3.utils.Result;

/**
 * ${table.classComment} Controller
 * @author ${author}
 */
@RestController
@RequestMapping("/${tool.underlineToCamel($table.tableName)}")
public class ${table.className}Controller {

    @Autowired
    private I${table.className}Service ${tool.underlineToCamel($table.tableName)}Service;

    @GetMapping("/{id}")
    public Result<${table.className}Entity> getById(@PathVariable("id") #foreach($col in $table.columns)#if($col.primaryKey)${col.fieldType} id#end#end) {
        ${table.className}Entity ety = ${tool.underlineToCamel($table.tableName)}Service.getById(id);
        if (ety != null) {
            return Result.error("数据不存在");
        }
        return Result.success(ety);
    }

    @GetMapping("/list")
    public Result<List<${table.className}Entity>> listAll() {
        return Result.success(${tool.underlineToCamel($table.tableName)}Service.list());
    }

    @PostMapping
    public Result<Boolean> save(@RequestBody ${table.className}Entity entity) {
        Boolean bool = ${tool.underlineToCamel($table.tableName)}Service.save(entity);
        return Result.success(bool);
    }

    @PutMapping
    public Result<Boolean> update(@RequestBody ${table.className}Entity entity) {
        Boolean bool = ${tool.underlineToCamel($table.tableName)}Service.saveOrUpdate(entity);
        return Result.success(bool);
    }

    @DeleteMapping("/{id}")
    public Result<Boolean> deleteById(@PathVariable("id") #foreach($col in $table.columns)#if($col.primaryKey)${col.fieldType} id#end#end) {
        Boolean bool = ${tool.underlineToCamel($table.tableName)}Service.removeById(id);
        return Result.success(bool);
    }
}