package ${table.packageName}.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${table.packageName}.entity.${table.className}Entity;

/**
 * ${table.classComment} Mapper 接口
 * @author ${author}
 */
@Mapper
public interface ${table.className}Mapper extends BaseMapper<${table.className}Entity> {

}