package ${table.packageName}.service.impl;

import ${table.packageName}.entity.${table.className}Entity;
import ${table.packageName}.mapper.${table.className}Mapper;
import ${table.packageName}.service.I${table.className}Service;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import org.springframework.stereotype.Service;


/**
 * ${table.classComment} Service 实现
 * @author ${author}
 */
@Service
public class ${table.className}ServiceImpl extends ServiceImpl<${table.className}Mapper, ${table.className}Entity> implements I${table.className}Service {

}