package ${table.packageName}.service;

import ${table.packageName}.entity.${table.className}Entity;
import com.baomidou.mybatisplus.extension.service.IService;

/**
 * ${table.classComment} Service 接口
 * @author ${author}
 */
public interface I${table.className}Service extends IService<${table.className}Entity> {

}